@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(rgba(3, 0, 20, 1), rgba(3, 0, 20, 1));
}
